/NEWSPAPER SUBSCRIPTION SYSTEM/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/.idea/.idea.NEWSPAPER SUBSCRIPTION SYSTEM/.idea/vcs.xml
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/Debug/net5.0/NEWSPAPER SUBSCRIPTION SYSTEM.assets.cache
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/NEWSPAPER SUBSCRIPTION SYSTEM.csproj.nuget.g.props
/.idea/.idea.NEWSPAPER SUBSCRIPTION SYSTEM/.idea/encodings.xml
/.idea/.idea.NEWSPAPER SUBSCRIPTION SYSTEM/.idea/indexLayout.xml
/NEWSPAPER SUBSCRIPTION SYSTEM/Properties/launchSettings.json
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/Debug/net5.0/NEWSPAPER SUBSCRIPTION SYSTEM.AssemblyInfo.cs
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/Debug/net5.0/NEWSPAPER SUBSCRIPTION SYSTEM.AssemblyInfoInputs.cache
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/Debug/net5.0/NEWSPAPER SUBSCRIPTION SYSTEM.csproj.AssemblyReference.cache
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/NEWSPAPER SUBSCRIPTION SYSTEM.csproj.nuget.dgspec.json
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/NEWSPAPER SUBSCRIPTION SYSTEM.csproj.nuget.g.targets
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/Debug/net5.0/NEWSPAPER SUBSCRIPTION SYSTEM.GeneratedMSBuildEditorConfig.editorconfig
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/project.assets.json
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/project.nuget.cache
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/rider.project.restore.info
/NEWSPAPER SUBSCRIPTION SYSTEM/obj/project.packagespec.json
